*{
    margin: 0;
    font-family:  'Open Sans', sans-serif;
}


/* header tag nav bar style */



.nav-title{
    font-weight: 800;
    font-size:40px;
}
.primary-text{
    color:orangered
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav li{
    list-style: none;
    margin: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
.primary-button{
    border-radius: 10px;
    height: 64px;
    background-color: orange;
    padding:20px 40px;
    color: white;
    border: none;
    font-weight: 400;
    font-size: 20px;
    

}

/* banner style */

.banner{
    margin: 0px 200px;
    display: flex;
    align-items: center;
}
.author_name{
    font-size: 40px;
font-weight: 800;
margin-bottom: 30px;
}
.sub-title{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}
.banner-description{
    margin-bottom: 15px;
    color:#757575;
}
.Header{
    background: #fff8f3;
    background-image: url('images/header_bg.png') ,url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right ,left;
}

/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}


/* section styles */

.about{
    margin-top: 130px;
    background: #fff8f3;
   border-radius: 10px;
   padding: 130px 150px ;
}
.section-title{
    text-align: center;
    margin-bottom: 30px;

}
.section-description{
    font-size: 18;
    color: #757575;
    margin-bottom: 30px;

}


.about_div_container{
    display:flex;
    justify-content: space-around ;
}
.info{

    font-weight: 400;
    font-size: 20px;
    color: #757575;
    font-size: 18px;
}


.info-description{
    font-weight: 700;
    font-size: 20px;
}
